# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Hardhat
artifacts/
cache/
typechain-types/
types/
deployments/

# Coverage
coverage/
coverage.json

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Env
.env
.env.local
.env.*.local

# Logs
*.log
/demo/
